h1 {
    color: rgb(19, 197, 19);
    display: block;
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin-left: 15px;
}

.pie {
    width: 100px; height: 100px;
    border-radius: 50%;
    background: conic-gradient(#655 40%, yellowgreen 0);
  }

  .img {
      display: block;
      text-align: center;
  }
  